.App{
   width: 50%;
   
   font-family: sans-serif;
   margin-left: auto;
    margin-right:auto;
}

.input{
    width: 50%;
    height: 30px;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border: black 2px solid;
    padding-left: 10px;
    font-weight: 500;
}
.input:focus{
    background-color: aliceblue;
    border: darkred 2px solid;
}

.submit{
    width: 100px;
    height: 36px;
    border-radius: 5px;
    border: black 2px solid;
    background-color: lightgreen;
    margin-left: 10px;
    font-size: 19px;
    font-family: sans-serif;
    
}


.submit:hover{
    cursor: pointer;
}

.edit{
    color:white;
    background-color: mediumseagreen;
    border-radius: 5px;
    border:none;
    padding-top: 3px;
    border: black 1px solid;
}

.edit:hover{
    cursor: pointer;
}

.edit-input{
    width: 90%;
    height: 20px;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 2px;
    border: black 2px solid;
    padding-left: 10px;
    font-weight: 400; 
}

.ul{
    list-style:circle;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
}

.remove{
    color:white;
    background-color: rgb(253, 42, 42);
    border-radius: 5px;
    border:none;
    padding-top: 3px;
    border: black 1px solid;
    margin-left: 10px;
}

.remove:hover{
    cursor: pointer;
}

.li{
    
    list-style: circle;
}

.item{
    width: 55%
}

.div-remove{
    width: 15%;
}

.full{
    display: flex;
    margin-top: 10px;
}